<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">

	<meta name="description" content="">
	<meta name="author" content="">

	<title>☕️</title>

	<link rel="stylesheet" href={{ url_for('static', filename = 'coffee.css') }}>
</head>

<body>
	<div id="patrons">
		<h2>Slyce Nespresso Patrons</h2>
	</div>

	<footer>Go birds!!!! 🦅 (c) insanj &amp; Slyce Inc, March-May 2018</footer>

	<script src={{ url_for('static', filename = 'jquery-3.3.1.min.js') }}</script>
	<script src={{ url_for('static', filename = 'coffee_frontend.js') }}</script>
	<script src={{ url_for('static', filename = 'coffee_backend.js') }}</script>
	<script src={{ url_for('static', filename = 'coffee.js') }}</script>
</body>
</html>